In [2]:
import pandas as pd

In [3]:

df1 = pd.read_csv('rekrutedatasete1.csv')  
df2 = pd.read_csv('emploi2.csv') 
df3 = pd.read_csv('rekrutedatasete2.csv')

In [5]:
all_columns = list(set(df1.columns) | set(df2.columns) | set(df3.columns))
all_columns

['title',
 'posted_date',
 "niveau d'études requis",
 'Competence',
 'company_name',
 'company_description',
 'requirements',
 'Region',
 'id',
 'url',
 'sector',
 'end_date',
 'number_of_positions',
 'remote_work',
 'posted_date:',
 'description',
 "niveau d'expérience",
 'contract_type']

In [6]:

dfs = []
for df in [df1, df2, df3]:
    standardized_df = pd.DataFrame(columns=all_columns)
    for col in all_columns:
        if col in df.columns:
            standardized_df[col] = df[col]
    dfs.append(standardized_df)

In [7]:
merged_df = pd.concat(dfs, ignore_index=True)

C:\Users\yasse\AppData\Local\Temp\ipykernel_33704\4271946925.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat(dfs, ignore_index=True)

In [8]:

merged_df.to_csv('merged_jobs.csv', index=False)